.contact {
  background-color: #5e6977;
  padding: 2em 0 2em 0;

  .ui.form .field input,
  .ui.form button {
    font-family: "Roboto", "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif;
  }

  h2 {
    max-width: 60%;
    margin: 0 auto 0.5em;
  }

  p {
    text-align: center;
  }

  .form.ui {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .field {
      width: 40%;

      label {
        color: #c9cccf;
      }

      input {
        background-color: #3d4250;
        color: #fff;
      }
    }

    button {
      margin-top: 2em;
    }
  }

  .asterisc {
    color: #f18a8a;
  }

  * {
    color: #c9cccf;
  }
}

@media screen and (max-width: 667px) {
  .contact {
    h2 {
      max-width: 90%;
    }

    .form.ui {
      .field {
        width: 90%;
      }
    }
  }
}
