.header {
  position: fixed;
  background-color: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;

  .logo {
    margin: 1em 0 1em -10px;
    width: 150px;
    align-self: center;
  }

  ul {
    margin: 0 0 1em 0;
    display: flex;
    width: auto;
    align-self: center;

    li a {
      margin-right: 2em;
      color: #5e6977;
    }
  }
}

@media screen and (min-width: 667px) {
  .header {
    flex-direction: row;
    top: inherit;
    left: inherit;

    ul {
      width: auto;
      margin: 1em 0 1em 5em;
      justify-content: center;

      li {
        margin-right: 2em;
      }
    }
  }
}
