.oneTwoThree {
  margin-top: 100px;

  .headers {
    margin-bottom: 40px;
  }

  .content {
    width: 100%;
    min-height: 450px;
    background-color: #f1f6f7;
    padding: 20px;
    position: relative;

    span {
      font-style: italic;
      font-size: 90%;
      color: #9097a0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

    div {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    img {
      width: 200px;
      margin-right: 5px;
    }
  }

  .actionsSection {
    display: flex;
    justify-content: space-around;
    margin: 2em 0 3em 0;

    .action {
      display: flex;
      align-items: center;
      height: 48px;
      margin: 5px;
      cursor: pointer;

      div {
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        p {
          color: #9097a0;
          margin: 0 0 5px 0;
        }

        p:first-child {
          margin: 5px 0 0 0;
          font-size: 120%;
          font-weight: bolder;
          color: #43484d;
        }
      }
    }
  }
}
