.carousel {
  height: 500px;

  .slide {
    background-color: #fff;

    .slideImage {
      height: auto;
      float: left;
      max-width: 50%;
      max-height: 100%;
    }

    .slideText {
      width: 50%;
      float: left;
    }
  }
}
