.carousel {
  .slide {
    background-color: #fff;

    .slideImage {
      height: auto;
      float: left;
      max-width: 50%;
      max-height: 100%;
    }

    .slideText {
      width: 50%;
      float: left;
    }
  }

  .control-next.control-arrow:before {
    color: #000;
  }

  .control-dots {
    top: 200px;
    margin-left: 25%;
  }
}
